<div class="container-flex">
    <div class="row g-0 justify-content-center">
        <div class="col-2 bg-dark">
            
        </div>
        <div class="col-8 vstack d-flex align-items-center justify-content-center">
            <h1>Podstrona w budowie</h1>
            <h2>Tutaj znajduje się odliczanie do aktualnie najważniejszej dla mnie rzeczy, może to być egzamin, albo premiera jakiejś fajnej gierki</h2>
            <img src="../../assets/Prayge.webp">
            <h1>Pozostały czas do egzaminów zawodowych sesja styczeń:</h1>
            <h2 *ngIf="countdown.difference > 0">Miesiące: {{countdown.months}} Tygodnie: {{countdown.weeks}} Dni: {{countdown.days}} Godziny: {{countdown.hours}} Minuty: {{countdown.minutes}} Sekundy : {{countdown.seconds}}</h2>
            <h2 *ngIf="countdown.difference < 0">Aktualnie cierpie podczas egzaminów zawodowych</h2>
        </div>
        <div class="col-2 bg-dark">

        </div>
    </div>
</div>