<div class="container-flex">
    <div class="row g-0 justify-content-center">
        <div class="col-lg-2 col-0 bg-dark">
            
        </div>
        <div class="col-lg-8 col-12 vstack d-flex align-items-center justify-content-center">
            <div class="container flex-column d-flex justify-content-center align-items-center w-100 h-100">
                <h1>Znajdujesz... całe nic</h1>
                <h2>A nie... czekaj</h2>
                <h3>Jednak udało ci się znaleźć błąd 404!</h3>
            </div>
        </div>
        <div class="col-lg-2 col-0 bg-dark">

        </div>
    </div>
</div>