<div class="w-100 h-100">
    <nav class="navbar navbar-expand-lg navbar-light bg-light col sticky-top justify-content-start">
        <a class="mx-1 px-2 btn btn-secondary navbar" routerLink="" routerLinkActive="active">Dom</a>
        <a class="mx-1 px-2 btn btn-secondary navbar" routerLink="plany" routerLinkActive="active">Plany</a>
        <a class="mx-1 px-2 btn btn-secondary navbar" href="https://lista.ksylthings.dev">Lista Rimworld TTK</a>
    </nav>
<router-outlet></router-outlet>
</div>